<li class="flex-shrink-0 border-2 border-[var(--border-card)] m-2 w-[300px] bg-[var(--bg-card)] rounded-lg grid grid-rows-[20%,60%,20%] text-sm snap-center">

  <div class="px-2.5 h-[30px] flex justify-between bg-gray-900 rounded-t-lg items-center">
    <p> <%= competition %></p>

    <p class="text-white">
      <%= l(commence_time) %>
    </p>
  </div>

  <%= turbo_frame_tag "event_odds_#{event.id}", src: odds_event_path(event), class: "grid grid-cols-3 gap-4 p-2.5 items-end" do %>
    <p>
      Chargement des cotes...
    </p>
  <% end %>

  <div class="flex justify-end items-center text-rose-600 p-2.5">
    <%= link_to event_path(event) do %>
      <div class="rounded-lg bg-gray-900 flex gap-2 py-1 px-2 items-center">
        <p class="text-rose-600"><%= comments.size %></p>
        <%= image_tag "icons/comment.svg", class: "w-6 h-6" %>
      </div>
    <% end %>
  </div>

</li>
