<div data-controller="price" data-action="click->dialog#backdropClose">
  <dialog data-dialog-target="dialog" data-dialog-open-value="true" class="bg-blue-900 p-4 w-[90dvw]
  h-[50dvh] my-[10dvh] mx-auto rounded-lg
  absolute text-white"
         >
    <%= form_with model: Bet.new, url: bets_path, method: :post do |f| %>
      <div class="flex justify-around mb-6">
        <p><%= odd.name %></p>
        <p><%= odd.price %></p>
      </div>



        <div data-controller="price " class="flex flex-col gap-2 p-2.5">
          <div class="flex flex-col gap-2">
              <%= f.hidden_field :odd_id, value: odd.id %>
              <%= f.label :stake, "Mise" %>
              <%= f.number_field :stake, data: { price_target: "input", action:"input->price#update" }, value: 1, min: 1, step: 0.1, class: "p-2 bg-gray-900 rounded-lg" %>
          </div>
        <div class="flex flex-col gap-2">
           <p>Gains potentiels</p>
            <p id="result" class="p-2 bg-gray-900 rounded-lg" data-price-target="result"><%= odd.price %></p>
        </div>
        </div>



      <div class="flex gap-4">
          <%= f.submit "Parier", class: "bg-rose-600 rounded-lg px-2.5 py-2 cursor-pointer", data: { action: "dialog#close" } %>
        <button class="bg-gray-900 rounded-lg px-2.5 py-2 cursor-pointer" type="button" data-action="dialog#close">Annuler</button>
      </div>
    <% end %>
  </dialog>
</div>
