<div data-controller="price" data-action="click->dialog#backdropClose">
  <dialog data-dialog-target="dialog" class="bg-blue-900 p-4 w-[90dvw] h-[50dvh] my-[10dvh] mx-auto rounded-lg absolute text-white md:w-[50dvw]" tabindex="-1">

    <% if user_signed_in? %>
      <%= form_with model: Bet.new, url: bets_path, method: :post, html: { autofocus: false }, class: "flex flex-col h-[80%] justify-center" do |f| %>
        <div class="flex justify-around mb-6">
          <p><%= odd.name == "Draw" ? I18n.t("odds.draw") : odd.name %></p>
          <p data-price-target="odd"><%= odd.price %></p>
        </div>

        <div class="flex flex-col gap-2 p-2.5">

          <div class="flex flex-col gap-2">
            <%= f.hidden_field :odd_id, value: odd.id %>
            <%= f.label :stake, "Mise" %>
            <%= f.number_field :stake, data: { price_target: "stake", action:"input->price#update" }, value: 1, min: 1, max: current_user.wallet.coins, step: 0.1, class: "p-2 bg-gray-900 rounded-lg", autofocus: false %>
          </div>

          <div class="flex flex-col gap-2">
            <p>Gains potentiels</p>
            <div class="flex gap-2 bg-gray-900 rounded-lg items-center">
              <span class='bg-blue-400 p-2 rounded-l-lg'>
                <%= image_tag 'icons/diamond.svg', alt: "diamond" %>
              </span>
              <p id="result" data-price-target="diamond">
              </p>
            </div>
          </div>

        </div>

        <div class="flex gap-4 justify-center">
          <%= f.submit "Parier", class: "bg-rose-600 rounded-lg px-2.5 py-2 cursor-pointer", data: { action: "dialog#close" } %>
          <button class="bg-gray-900 rounded-lg px-2.5 py-2 cursor-pointer" type="button" data-action="dialog#close">Annuler</button>
        </div>
      <% end %>

    <% else %>
      <div class="flex flex-col items-center justify-center h-[80%] gap-4">
        <p>Connectez-vous pour parier</p>
        <%= link_to "Se connecter", new_user_session_path, class: "bg-rose-600 rounded-lg px-2.5 py-2 cursor-pointer" %>
      </div>

    <% end %>
  </dialog>
</div>
