<div class="mb-10">
  <div class="flex flex-col gap-2  mb-8">
  <%= link_to :back do %>
 <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg"
	 width="24px" height="24px" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
<path d="M48.6,23H15.4c-0.9,0-1.3-1.1-0.7-1.7l9.6-9.6c0.6-0.6,0.6-1.5,0-2.1l-2.2-2.2c-0.6-0.6-1.5-0.6-2.1,0
	L2.5,25c-0.6,0.6-0.6,1.5,0,2.1L20,44.6c0.6,0.6,1.5,0.6,2.1,0l2.1-2.1c0.6-0.6,0.6-1.5,0-2.1l-9.6-9.6C14,30.1,14.4,29,15.3,29
	h33.2c0.8,0,1.5-0.6,1.5-1.4v-3C50,23.8,49.4,23,48.6,23z"/>
</svg>
  <% end %>
  <h2 class="uppercase font-bold leading-[1.2] text-2xl ">Modifier mon compte</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,class: 'flex flex-col gap-4 mb-8' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="flex flex-col gap-4">
    <%= f.label :avatar, "Avatar" %>
    <%= f.file_field :avatar, class: "bg-[var(--bg-card)] p-2 border border-white rounded-lg w-full", accept: 'image/png,image/jpeg,image/jpg' %>
  </div>

  <div class="flex flex-col gap-4">
    <%= f.label :first_name, "Prénom" %>
    <%= f.text_field :first_name, autocomplete: "firstname", class: "bg-[var(--bg-card)] p-2 border border-white rounded-lg w-full", placeholder: 'Entrez votre prénom'  %>
  </div>

  <div class="flex flex-col gap-4">
    <%= f.label :last_name, "Nom" %>
    <%= f.text_field :last_name, autocomplete: "lastname", class: "bg-[var(--bg-card)] p-2 border border-white rounded-lg w-full", placeholder: 'Entrez votre nom'  %>
  </div>

  <div class="flex flex-col gap-4">
    <%= f.label :username, "Pseudo" %>
    <%= f.text_field :username, autocomplete: "username", class: "bg-[var(--bg-card)] p-2 border border-white rounded-lg w-full", placeholder: 'Entrez votre pseudo'  %>
  </div>

  <div class="flex flex-col gap-4">
    <%= f.label :phone_number, "Téléphone" %>
    <%= f.phone_field :phone_number, autocomplete: "phonenumber", class: "bg-[var(--bg-card)] p-2 border border-white rounded-lg w-full", placeholder: 'Entrez votre numéro de téléphone'  %>
  </div>

  <div class="flex flex-col gap-4">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email",  class: "bg-[var(--bg-card)] p-2 border border-white rounded-lg w-full", placeholder: 'Modifier votre mail' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="flex flex-col gap-4">
    <%= f.label :current_password, 'Mot de passe actuel' %> <i>(nécessaire pour confirmer les changements)</i>
    <%= f.password_field :current_password,class: "bg-[var(--bg-card)] p-2 border border-white rounded-lg w-full", autocomplete: "current-password" %>
  </div>

  <div class="flex flex-col gap-4">
    <%= f.label :password, 'Nouveau mot de passe' %> <i>(ne pas remplir si vous ne voulez pas le changer)</i>
    <%= f.password_field :password, autocomplete: "new-password",  class: "bg-[var(--bg-card)] p-2 border border-white rounded-lg w-full", placeholder: 'Votre nouveau mot de passe' %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> caractères minimum</em>
    <% end %>
  </div>

  <div class="flex flex-col gap-4">
    <%= f.label :password_confirmation, 'Confirmer votre nouveau mot de passe' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-[var(--bg-card)] p-2 border border-white rounded-lg w-full", placeholder: 'Confirmez votre mot de passe' %>
  </div>

  <div class="bg-[var(--ezb-red)] hover:bg-[var(--ezb-red-hover)] rounded-lg px-2.5 py-2 w-full text-center">
    <%= f.submit "Mettre à jour" %>
  </div>
<% end %>

<div class=' text-[14px] '>
  Pas satisfait ? <%= button_to "Supprimer mon compte", registration_path(resource_name), class: "text-[14px] text-gray-600 underline transition-all duration-400 hover:text-rose-600 ", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
</div>

</div>
