<h2 class="uppercase font-bold leading-[1.2] text-2xl mb-8">S'inscrire</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'flex flex-col gap-4 mb-8' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="flex flex-col gap-4">
    <%= f.label :first_name, "Prénom" %>
    <%= f.text_field :first_name, autocomplete: "firstname", class: "p-2 border border-white rounded-lg w-full bg-[var(--bg-card)]", placeholder: 'Entrez votre prénom'  %>
  </div>

  <div class="flex flex-col gap-4">
    <%= f.label :last_name, "Nom" %>
    <%= f.text_field :last_name, autocomplete: "lastname", class: "p-2 border border-white rounded-lg w-full bg-[var(--bg-card)]", placeholder: 'Entrez votre nom'  %>
  </div>

  <div class="flex flex-col gap-4">
    <%= f.label :phone_number, "Téléphone" %>
    <%= f.phone_field :phone_number, autocomplete: "phonenumber", class: "p-2 border border-white rounded-lg w-full bg-[var(--bg-card)]", placeholder: 'Entrez votre numéro de téléphone'  %>
  </div>

  <div class="flex flex-col gap-4">
    <%= f.label :ref_from_url, "Code de Parrainage" %>
    <%= f.text_field :ref_from_url, class: "p-2 border border-white rounded-lg w-full bg-[var(--bg-card)]", placeholder: 'Entrez votre numéro de téléphone', value: params[:ref]  %>
  </div>

  <div class="flex flex-col gap-4">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email", class: "p-2 border border-white rounded-lg w-full bg-[var(--bg-card)]", placeholder: 'Entrez votre email'  %>
  </div>



  <div class="flex flex-col gap-4">
   <div class="">
     <%= f.label :password, "Mot de passe"  %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %>
   </div>
    <%= f.password_field :password, autocomplete: "new-password", class: "p-2 border border-white rounded-lg w-full bg-[var(--bg-card)]", placeholder: 'Entrez votre mot de passe'  %>
  </div>

  <div class="flex flex-col gap-4">
    <%= f.label :password_confirmation, "Confirmation mot de passe"  %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "p-2 border border-white rounded-lg w-full bg-[var(--bg-card)]", placeholder: 'Confirmez votre mot de passe'  %>
  </div>



  <div  class="bg-[var(--ezb-red)] rounded-lg px-2.5 py-2 max-w-fit">
    <%= f.submit "S'inscrire", class: "cursor-pointer" %>
  </div>

<% end %>


<%= render "devise/shared/links" %>
