<%= turbo_frame_tag @comment, class: "space-y-2" do %>
  <%= form_with(model: [@event, @comment], url: event_comment_path(@event, @comment)) do |f| %>

    <div class="rounded-lg shadow-md bg-blue-800 text-white p-4">
      <div>
        <%= f.text_area :content, class: "w-full rounded-lg border-gray-300 focus:border-blue-500 focus:ring-blue-500", placeholder: "Ecrire mon commentaire...", rows: 3 %>
      </div>

      <div>
        <%= f.submit "Modifier", class: "bg-red-400 hover:bg-red-500 text-white font-medium py-2 px-4 rounded-lg cursor-pointer transition-colors" %>
        <%= link_to 'Annuler', event_path(@event), class: "text-red-500" %>
      </div>
    </div>


  <% end %>
<% end %>
