<%# pour chaque competition, on affiche en titre le title et tous ses events %>
<% @competitions.each do |competition| %>
  <div class="flex items-center border-l-3 border-rose-600 relative">
    <div class="absolute inset-0 bg-gradient-to-r from-rose-600 to-rose-800 opacity-30"></div>
    <h2 class="font-medium text-rose-600 relative z-10 p-4">
      <%= competition.title %>
    </h2>
  </div>
  <ul class="flex overflow-x-auto space-x-4 p-4">
    <% competition.events.sorted_by_commence_time.each do |event| %>
      <li class="flex-shrink-0 border-2 border-blue-900  m-2 w-[300px] bg-blue-900 rounded-lg">
        <div class="p-2.5 flex justify-around bg-gray-900 rounded-t-lg">
          <p>
            <%= event.home_team %> vs <%= event.away_team %>
          </p>
          <p>
            <%= event.commence_time %>
          </p>
        </div>
        <ul id="odds_for_event_<%= event.id %>" class="flex justify-around">
          <% event.odds.each do |odd| %>
            <li>
              <p> <%= odd.name %></p>
              <button class=''>x <%= odd.price %></button>
            </li>
          <% end %>
        </ul>
        <small>
          comments: <%= event.comments.count %>
        </small>
      </li>
    <% end %>
  </ul>
<% end %>
