<%# pour chaque competition, on affiche en titre le title et tous ses events %>
<ul class="flex justify-around bg-blue-900 text-white px-5 py-2.5 rounded-lg items-center mb-4
           sticky top-[64px] z-50 ">
   <li>
    <%= link_to 'A Venir', root_path %>
   </li>
    <li><%= link_to 'Joués', played_events_path %></li>
     <li><%= link_to 'Résultats', finished_events_path %></li>
  </ul>
<% @competitions.each do |competition| %>
  <div class="flex items-center border-l-3 border-rose-600 relative">
    <div class="absolute inset-0 bg-gradient-to-r from-rose-600 to-rose-800 opacity-30"></div>
    <h2 class="font-medium text-rose-600 relative z-10 p-4">
      <%= competition.title %>
    </h2>
  </div>
  <ul class="flex overflow-x-auto space-x-4 p-4 no-scrollbar">
    <% competition.events.sorted_by_commence_time.each do |event| %>
      <%= render "competitions/components/card", event: event, id:event.id, home_team: event.home_team, away_team: event.away_team, home_team_odd: event.home_team_odd, away_team_odd: event.away_team_odd,
      draw_odd:event.draw_odd,commence_time: event.commence_time, odds:event.odds, comments:event.comments  %>
    <% end %>
  </ul>

<% end %>



<button id='labite' class="fixed bottom-[116px] left-1/2 transform -translate-x-1/2 w-[90%] bg-rose-600 rounded-lg text-white px-5 py-2.5 shadow-lg z-[1100] flex items-center gap-2 justify-center"  >
    <img src="/icons/camera.svg" alt="coin">
  <p class='flex items-center justify-center text-[14px]'> Regarder une video (+250   <img src="/icons/coin.svg" alt="coin">) - 20</p></button>
