<%# <h1 class="font-bold text-4xl">Pages#profile</h1> %>

<div class="p-4">
  <section class="p-4 flex justify-between items-center mb-8" >
    <div class='flex gap-2 items-center'>
      <div id="avatar" class="w-20 h-20 text-[1.8rem] rounded-full bg-[var(--ezb-red)] flex justify-center items-center hover:scale-110 transform transition duration-300 font-bold">
        <%= @user.first_name[0] %>
      </div>
      <h2 class="leading-[1.2] text-2xl">
        <%= @user.first_name %>
      </h2>
    </div>
      <%= image_tag 'icons/settings.svg', alt: "Paramètres", class: "w-6 h-6 cursor-pointer", id: "openModal", data: { action: "dialog#open", turbo: "false" }  %>
  </section>



  <%= link_to '👥 Ajouter des amis', friendships_path, class: "p-4 flex items-center justify-center bg-[var(--ezb-red)] rounded-lg mb-6 text-[1.2rem] font-bold hover:bg-[var(--ezb-red-hover)] transform transition-colors duration-300 cursor-pointer" %>





<section id="statistiques" class='bg-[var(--bg-card)] rounded-lg p-8 mb-4'>
  <h2 class='text-[var(--ezb-red)] text-center mb-8 text-[1.4rem]'>Statistiques</h2>
  <ul class='grid grid-cols-2 grid-rows-2'>
    <li class='mb-4 text-[var(--profile-stat-text)]'>
      Coins
      <p class='flex gap-2 items-center text-[1.2rem] text-white font-bold'>
        <%= @wallet.coins %>
        🪙

      </p>
    </li>
    <li class='mb-4 text-[var(--profile-stat-text)]'>
      Diamants
     <p class='flex gap-2 items-center text-[1.2rem] text-white font-bold'>
        <%= @wallet.diamonds %>
        💎
      </p>
    </li>
    <li class='mb-4 text-[var(--profile-stat-text)]'>
      Paris gagnés
       <p class='flex gap-2 items-center text-[1.2rem] text-white font-bold'>
        <%= @bets_won.count %>
        🎉

      </p>
    </li>
    <li class='mb-4 text-[var(--profile-stat-text)]'>
      Ratio de réussite
       <p class='flex gap-2 items-center text-[1.2rem] text-white font-bold'>
        <%= @ratio %> %
      </p>
    </li>
  </ul>
  <hr class='mb-4'>
  <div id='divisions' class="flex flex-col gap-4 ">
    <p class='text-[var(--profile-stat-text)]'>Division actuelle</p>
    <div class="flex justify-center bg-[var(--bg-card-dark)] rounded-lg p-4   border-white/10 border-2 gap-4">
    <p class="text-[1.2rem] font-bold text-[var(--blue-debutant)]
   ">Division Débutant</p>
      <p class='text-[0.9rem]'>
        (Top 80-100%)
      </p>

    </div>
  </section>

  <section id="statistiques" class='bg-[var(--bg-card)] rounded-lg p-8 mb-4'>
    <h2 class='text-[var(--ezb-red)] text-center mb-8 text-[1.4rem]'>Tâches et Récompenses</h2>
    <ul class="grid grid-cols-2 gap-4">
      <li class="bg-[var(--bg-card-dark)] rounded-lg flex flex-col gap-4 p-4 justify-between">
        <p>Suivez nous sur Instagram</p>
        <a href="https://www.instagram.com/eazybetcoin" class='bg-[var(--ezb-red)] hover:bg-[var(--ezb-red-hover)] hover:scale-110 rounded-sm flex text-center justify-center transform transition duration-300' target="_blank">Réclamer <br> 1000 🪙</a>
      </li>
      <li class="bg-[var(--bg-card-dark)] rounded-lg flex flex-col gap-4 p-4 justify-between">
        <p>Rejoins nous sur Telegram</p>
        <a href="https://t.me/eazybetcoin" class='bg-[var(--ezb-red)] hover:bg-[var(--ezb-red-hover)] hover:scale-110 rounded-sm flex text-center justify-center transform transition duration-300' target="_blank">Réclamer <br> 1000 🪙</a>
      </li>
      <li class="bg-[var(--bg-card-dark)] rounded-lg flex flex-col gap-4 p-4 justify-between">
        <p>Suivez notre compte X</p>
        <a href="https://x.com/eazybetcoin" class='bg-[var(--ezb-red)] hover:bg-[var(--ezb-red-hover)] hover:scale-110 rounded-sm flex text-center justify-center transform transition duration-300' target="_blank">Réclamer <br> 1000 🪙</a>
      </li>
      <li class="bg-[var(--bg-card-dark)] rounded-lg flex flex-col gap-4 p-4 justify-between">
        <p>Suivez nous sur Youtube</p>
        <a href="#" class='bg-[var(--ezb-red)] hover:bg-[var(--ezb-red-hover)] hover:scale-110 rounded-sm flex text-center justify-center transform transition duration-300'>Réclamer <br> 1000 🪙</a>
      </li>
      <li class="bg-[var(--bg-card-dark)] rounded-lg flex flex-col gap-4 p-4 justify-between">
        <p>Suivez nous sur TikTok</p>
        <a href="https://www.tiktok.com/@eazybetcoin" class='bg-[var(--ezb-red)] hover:bg-[var(--ezb-red-hover)] hover:scale-110 rounded-sm flex text-center justify-center transform transition duration-300' target="_blank">Réclamer <br> 1000 🪙</a>
      </li>
      <li class="bg-[var(--bg-card-dark)] rounded-lg flex flex-col gap-4 p-4 justify-between">
        <p>Parrainer un ami</p>
        <a href="#" class='bg-[var(--ezb-red)] hover:bg-[var(--ezb-red-hover)] hover:scale-110 rounded-sm flex text-center justify-center transform transition duration-300' target="_blank">Réclamer <br> 5💎</a>
      </li>
    </ul>

    <div data-controller="clipboard" data-clipboard-success-content-value="Copied!" class="flex gap-4 items-center bg-[var(--bg-card-dark)] rounded-lg p-4 my-4">
      <input type="text" value="https://www.eazybetcoinapp.com/users/sign_up?ref=<%= @user.referral_token %>" data-clipboard-target="source" class="text-white w-full" />

      <button type="button" data-action="clipboard#copy" data-clipboard-target="button" class="bg-[var(--ezb-red)] text-white rounded-lg p-2 cursor-pointer">Copier</button>
      </button>
    </div>
  </section>

</div>



 <%= render "modal/modal-profile" %>
  <%= render "modal/modal-friend" %>


<script>
  document.addEventListener("turbo:load", () => {
    const openModalButton = document.getElementById("openModal");
    const openModalFriend = document.getElementById("openModalFriend");
    const closeModalButton = document.getElementById("closeModal");
    const closeModalFriend = document.getElementById("closeModalFriend");
    const modal = document.getElementById("profileModal");
    const modalFriend = document.getElementById('friendModal')

    const disableScroll = () => {
      document.body.style.overflow = 'hidden';
    };

    const enableScroll = () => {
      document.body.style.overflow = '';
    };

    if (openModalButton && modal) {
      openModalButton.addEventListener("click", () => {
        modal.showModal();
        disableScroll();
      });
    }
 if (openModalFriend && modalFriend) {
      openModalFriend.addEventListener("click", () => {
        modalFriend.showModal();
        disableScroll(); // Désactive le scroll lorsque la modal est ouverte
      });
    }
    if (closeModalButton && modal) {
      closeModalButton.addEventListener("click", () => {
        modal.close();
        enableScroll();
      });
    }
       if (closeModalFriend && modalFriend) {
      closeModalFriend.addEventListener("click", () => {
        modalFriend.close();
        enableScroll(); // Réactive le scroll lorsque la modal est fermée
      });
    }

    modal?.addEventListener("click", (event) => {
      if (event.target === modal) {
        modal.close();
        enableScroll();
      }
    });
     modalFriend?.addEventListener("click", (event) => {
      if (event.target === modalFriend) {
        modalFriend.close();
        enableScroll(); // Réactive le scroll si on ferme la modal en cliquant en dehors
      }
    });
  });
</script>
