<%# CETTE PAGE EST IDENTIQUE A PROFILE POUR LE MOMENT %>
<%# POUR AFFICHER LE PROFIL D UN AUTRE UTILISATEUR QUE L'UTILISATEUR CONNECTE %>

<div class="p-4">
  <section class="p-4 flex justify-between items-center mb-8">
    <div class='flex gap-2 items-center'>
      <div id="avatar" class="w-20 h-20 text-[1.8rem] rounded-full bg-[var(--ezb-red)] flex justify-center items-center hover:scale-110 transform transition duration-300 font-bold">
        <% if @user.avatar? %>
          <%= cl_image_tag @user.avatar.url, class: "rounded-full w-full h-full", alt: "Avatar de #{@user.username}" %>

        <% else %>
          <%= @user.username[0] %>

        <% end %>
      </div>
      <h2 class="leading-[1.2] text-2xl">
        <%= @user.username %>
      </h2>
    </div>
  </section>

  <% if current_user.friend_with?(@user) %>
    <%= link_to "Supprimer l'ami", friendship_path(@friendship), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"}, class: "text-[0.85rem] bg-[var(--ezb-red)] rounded-lg px-2.5 py-2 cursor-pointer" %>

  <% elsif current_user.sent_request_to?(@user) %>
    <%= link_to "Annuler la demande d'ami", friendship_path(@friendship), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"}, class: "p-4 flex items-center justify-center bg-[var(--ezb-red)] rounded-lg mb-6 text-[1.2rem] font-bold hover:bg-[var(--ezb-red-hover)] transform transition-colors duration-300 w-full" %>

  <% elsif current_user.received_request_from?(@user) %>
    <%= button_to "Accepter", friendship_path(@friendship), method: :patch, class: "p-4 flex items-center justify-center bg-[var(--ezb-blue)] rounded-lg mb-6 text-[1.2rem] font-bold hover:bg-[var(--blue-hover)] transform transition-colors duration-300 w-full" %>
    <%= link_to 'Refuser', friendship_path(@friendship), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"}, class: "p-4 flex items-center justify-center bg-[var(--ezb-red)] rounded-lg mb-6 text-[1.2rem] font-bold hover:bg-[var(--ezb-red-hover)] transform transition-colors duration-300 w-full" %>

  <% else %>
    <%= form_with model: Friendship.new, url: friendships_path, method: :post do |f| %>
      <%= f.hidden_field :sender_id, value: current_user.id %>
      <%= f.hidden_field :receiver_id, value: @user.id %>
      <%= f.hidden_field :status, value: "pending" %>
      <%= f.submit "Ajouter en ami", class: "p-4 flex items-center justify-center bg-[var(--ezb-red)] rounded-lg mb-6 text-[1.2rem] font-bold hover:bg-[var(--ezb-red-hover)] transform transition-colors duration-300 w-full" %>
    <% end %>

  <% end %>


  <section id="statistiques" class='bg-[var(--bg-card)] rounded-lg p-8 mb-4'>
    <h2 class='text-[var(--ezb-red)] text-center mb-8 text-[1.4rem]'>Statistiques</h2>
    <ul class='grid grid-cols-2 grid-rows-2'>
      <li class='mb-4 text-[var(--profile-stat-text)]'>
        Coins
        <p class='flex gap-2 items-center text-[1.2rem] text-white font-bold'>
          <%= @wallet.coins %>
          🪙
        </p>
      </li>
      <li class='mb-4 text-[var(--profile-stat-text)]'>
        Diamants
        <p class='flex gap-2 items-center text-[1.2rem] text-white font-bold'>
          <%= @wallet.diamonds %>
          💎
        </p>
      </li>
      <li class='mb-4 text-[var(--profile-stat-text)]'>
        Paris gagnés
        <p class='flex gap-2 items-center text-[1.2rem] text-white font-bold'>
          <%= @bets_won.count %>
          🎉
        </p>
      </li>
      <li class='mb-4 text-[var(--profile-stat-text)]'>
        Ratio de réussite
        <p class='flex gap-2 items-center text-[1.2rem] text-white font-bold'>
          <%= @ratio %> %
        </p>
      </li>
    </ul>
    <hr class='mb-4'>
    <div id='divisions' class="flex flex-col gap-4">
      <p class='text-[var(--profile-stat-text)]'>Division actuelle</p>
      <div class="flex justify-center bg-[var(--bg-card-dark)] rounded-lg p-4 border-[var(--ezb-blue)] border-2">
        <p class="text-[1.2rem] font-bold text-[var(--blue-debutant)]">Division Débutant</p>
        <p class='text-[0.9rem]'>(Top 80-100%)</p>
      </div>
    </div>
  </section>
</div>
