<ul class="flex justify-around bg-blue-900 text-white px-5 py-2.5 rounded-lg items-center mb-4
           sticky top-[64px] z-50 ">
   <li>
    <%= link_to 'A Venir', root_path %>
   </li>
    <li><%= link_to 'Joués', played_events_path %></li>
     <li><%= link_to 'Résultats', finished_events_path %></li>
  </ul>


<% @events.each do |event| %>
  <div class="event">
    <%= render "competitions/components/card", id:event.id, home_team: event.home_team, away_team: event.away_team, home_team_odd: event.home_team_odd, away_team_odd: event.away_team_odd,
    draw_odd:event.draw_odd,commence_time: event.commence_time, odds:event.odds, comments:event.comments  %>
  </div>

<ul id="scores">
  <% event.scores.each do |score| %>
    <li>
      <%= score.name %> : <%= score.result %>
    </li>
  <% end %>
</ul>

<% end %>
