<div class="px-4 pb-16">
  <%= link_to root_path do %>
  <%= image_tag 'icons/back.svg', alt: "Retour", class: "w-6 h-6 mb-4" %>
<% end %>

<div class="flex justify-center">
  <%= render "competitions/components/card",
    competition: @event.competition,
    event: @event,
    id: @event.id,
    home_team: @event.home_team,
    away_team: @event.away_team,
    home_team_odd: @event.home_team_odd,
    away_team_odd: @event.away_team_odd,
    draw_odd: @event.draw_odd,
    commence_time: @event.commence_time,
    odds:@event.odds,
    comments:@event.comments,
    bet: user_signed_in? ? @event.bets.find_by(user_id: current_user.id) : nil %>
</div>

<div class="space-y-4 my-4">
  <% @event.comments.each do |comment| %>
    <div class="<%= current_user == comment.user ? 'ml-auto' : 'mr-auto' %> w-[90%]">
      <%= turbo_frame_tag comment, class: "space-y-2" do %>
        <div class="rounded-lg shadow-md <%= current_user == comment.user ? 'bg-[var(--bg-card)] text-white' : 'bg-white text-black' %> p-4">
          <h6 class="text-sm <%= current_user == comment.user ? 'text-white' : 'text-gray-500' %>">
            <%= comment.user.first_name %> - il y a <%= time_ago_in_words(comment.created_at) %>
          </h6>
          <p class="text-base"><%= comment.content %></p>
          <div class="flex gap-2 justify-end">
            <%# remplacer le texte avec l'icon %>
            <%#  <img src="/icons/edit.svg" alt="Modifier" class="w-6 h-6"> %>
            <%= link_to "âœï¸", edit_event_comment_path(@event, comment), class: "text-white-500 text-[14px]" if current_user == comment.user %>

            <%# remplacer le texte avec l'icon %>
            <%# <img src="/icons/delete.svg" alt="Supprimer" class="w-6 h-6"> %>
            <%= link_to "ðŸ—‘ï¸", comment_path(comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-[var(--ezb-red)] text-[14px]" if current_user == comment.user %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<% if user_signed_in? %>
  <div class="mt-8 mb-10">
    <%= form_with(model: [@event, @comment], url: event_comments_path(@event), class: "space-y-4") do |f| %>
      <div>
        <%= f.text_area :content, class: "p-2 border border-white rounded-lg w-full bg-[var(--bg-card)] text-white", placeholder: "Ecrire mon commentaire...", rows: 3 %>
      </div>
      <div class="text-center">
        <%= f.submit "Poster", class: "bg-[var(--ezb-red)] hover:bg-[var(--ezb-red-hover)] text-white font-medium py-2 px-4 rounded-lg cursor-pointer transition-colors" %>
      </div>
    <% end %>
  </div>

<% else %>
  <div class="flex flex-col items-center justify-center h-[80%] gap-4">
    <p>Connectez-vous pour commenter</p>
    <%= link_to "Se connecter", new_user_session_path, data: { turbo: false }, class: "bg-[var(--ezb-red)] rounded-lg px-2.5 py-2 cursor-pointer" %>
  </div>
<% end %>

</div>
