      <%= render "competitions/components/card", id:@event.id, home_team: @event.home_team, away_team: @event.away_team, home_team_odd: @event.home_team_odd, away_team_odd: @event.away_team_odd,
      draw_odd:@event.draw_odd,commence_time: @event.commence_time, odds:@event.odds, comments:@event.comments  %>
      <div class="space-y-4 my-4">
        <% @comments.each do |comment| %>
          <div class="<%= current_user == comment.user ? 'ml-auto' : 'mr-auto' %> w-[70%]">
            <%= turbo_frame_tag comment, class: "space-y-2" do %>
              <div class="rounded-lg shadow-md <%= current_user == comment.user ? 'bg-blue-800 text-white' : 'bg-white' %> p-4">
                  <h6 class="text-sm <%= current_user == comment.user ? 'text-white' : 'text-gray-500' %>">
                    <%= comment.user.first_name %> - il y a <%= time_ago_in_words(comment.created_at) %>
                  </h6>
                  <p class="text-base"><%= comment.content %></p>
                  <small>
                    <%= link_to "Modifier", edit_event_comment_path(@event, comment), class: "text-white-500" if current_user == comment.user %>
                  </small>
                  <small>
                    <%= link_to "Supprimer", comment_path(comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-red-500" if current_user == comment.user %>
                  </small>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="mt-8">
        <%= form_with(model: [@event, @comment], url: event_comments_path(@event), class: "space-y-4") do |f| %>
          <div>
            <%= f.text_area :content, class: "w-full p-4 rounded-lg border-gray-300 focus:border-blue-500 focus:ring-blue-500", placeholder: "Ecrire mon commentaire...", rows: 3 %>
          </div>
          <div class="text-center">
            <%= f.submit "Poster", class: "bg-red-400 hover:bg-red-500 text-white font-medium py-2 px-4 rounded-lg cursor-pointer transition-colors" %>
          </div>
        <% end %>
      </div>
