<nav class="fixed bottom-0 left-0 w-full bg-blue-900 text-white  px-4 py-2 h-[100px] shadow-[0_-4px_4px_rgba(0,0,0,0.25)]  z-1000" data-controller="header--navbar">
  <ul id="menu-items" class="flex justify-around items-center">
    <li>
      <a href="/" class="flex flex-col items-center gap-2">

         <div class="">
            <%= image_tag 'icons/matches.svg', alt: "Commentaires", class: "w-6 h-6" %>
         </div>
     <p>Matches</p>

      </a>

    </li>
     <li>
      <%= link_to ranking_path,class: "flex flex-col items-center gap-2"  do%>
        <div class="">
          <%= image_tag 'icons/ranking.svg', alt: "Matches" %>
        </div>
        <p>Classements</p>
      <% end %>

    </li>

     <li>
      <%= link_to profile_path, class: "flex flex-col items-center gap-2" do %>
        <div class="">
          <%= image_tag 'icons/profile.svg', alt: "Profil" %>
        </div>
        <p>Profil</p>
      <% end %>
    </li>

  </ul>
</nav>
