<!DOCTYPE html>
<html>

  <head>
    <title><%= content_for(:title) || "Eazybet" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap" rel="stylesheet">
  </head>

  <body class="bg-gray-900 min-h-screen">

    <div id="applixir_vanishing_div" hidden>
        <iframe id="applixir_parent" ></iframe>
    </div>

    <header class="sticky top-0 w-full bg-[var(--bg-card)] text-white shadow-[0_0_10px_rgba(0,0,0,0.4)] z-1000 px-4 py-2">
      <%= render "layouts/header/header" %>
    </header>

    <main class="text-white px-4 py-4 pb-[4rem] relative z-10">
      <%= yield %>
    </main>

    <footer class="fixed bottom-0 left-0 w-full bg-[var(--bg-card)] text-white shadow-[0_-4px_4px_rgba(0,0,0,0.25)] z-50">
      <%= render "layouts/navbar/navbar" %>
    </footer>

    <!--
    <script type="text/javascript" src="https://cdn.applixir.com/applixir.sdk4.0m.js" ></script>
    <script type="application/javascript">
      const options = {
          zoneId: 2050,                      // Development Zone ID
          userId: crypto.randomUUID(),       // Recommended UUID4 value
          accountId: 8771,                   // Your provided Account ID
          siteId: 9325,                      // Your provided Site ID
          adStatusCb: adStatusCallback
      };

      function adStatusCallback(status) {
          console.log('Ad Status:', status);
      }

      document.getElementById('showRewardAdButton').onclick = function () {
          invokeApplixirVideoUnit(options);  // Play the video ad
      };
    </script>
    -->
  </body>



</html>
